<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="container-fluid">
    <form method="POST" action="?_method=PUT">
        <label for="title">Titulo </label>
        <input type="text" name="title" id="" value="<%= pelicula.title %>"> <br>

        <label for="awards">Premios </label>
        <input type="number" name="awards" id="" value="<%= pelicula.awards %>"> <br>

        <label for="length">Duración </label>
        <input type="text" name="length" id="" value="<%= pelicula.length %>"> <br>

        <input type="submit" value="Actualizar">
    </form>
    <%- include('./partials/scriptsBootstrap') %>
</body>
</html>