<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="container-fluid">
    <h1>Listado de Peliculas más nuevas</h1>
    <ul>
        <% peliculas.forEach(pelicula => { %>
            <li>
            <a href="/movies/detail/<%= pelicula.id %>"> <%= pelicula.title %> </a>
            <br>
            <b> Fecha de Estreno: </b> <%= pelicula.release_date_formatted %>
            <br><br>
        </li>
        <% }) %>
    </ul>
    <%- include('./partials/scriptsBootstrap') %>
</body>
</html>